{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>The minimal number of joint papers to reach <a href='https://en.wikipedia.org/wiki/Paul_Erdös'>Paul Erdös</a> from me.</p>
	

<h3>My Erdős' number is 4</h3>

<p>Some paths:

<ul>
<li>0. <a href="http://www.oakland.edu/enp">Paul Erdős</a>
<li>1. Nick Wormald
<li>2. <a href="http://ww2.cs.mu.oz.au/~alistair/">Alistair Moffat</a>
<li>3. <a href="http://ww2.cs.mu.oz.au/~tim/">Timothy Baldwin</a>
<li>4. Francis Bond (me!)
</ul>

<ul>
  <li>0. <a href="http://www.oakland.edu/enp">Paul Erdős</a> (P. Erdős, S. Fajtlowicz and A. J. Hoffman, 1980: "Maximum degree in graphs of diameter 2", Networks 10:87-96)
  <li>1.  A. J. Hoffman (A. J. Hoffman and J. B. Kruskal, 1956: "Integral boundary points of convex polyhedra", Annals of Mathematics Study 38:223-241)
  <li>2. Jordan Boyd-Graber  ("Participatory design: Participatory design with proxies: developing a desktop-PDA system to support people with aphasia", by Jordan L. Boyd-Graber, Sonya S. Nikolova, Karyn A. Moffatt, Kenrick C. Kin, Joshua Y. Lee, Lester W. Mackey, Marilyn M. Tremaine, and Maria M. Klawe, April 2006, Proceedings of the SIGCHI conference on Human Factors in computing systems (CHI '06), ACM Press)
  <li>3. Christiane Fellbaum (Boyd-Graber, J., Fellbaum, C., Osherson, D., and Schapire, R. (2006). Adding dense, weighted, connections to WordNet. In: Proceedings of the Third Global WordNet Meeting, Jeju Island, Korea, January 2006.)
  <li>4. Francis Bond (Francis Bond, Piek Vossen, John McCrae, and Christiane Fellbaum (2016). CILI: The Collaborative InterLingual Index. In Proceedings of the 8th Global Wordnet Conference (GWC 2016), pp. 50–57)
</ul>



	<p>But it could be lower:</p>
	  
<a href='https://www.xkcd.com/599/'><img src='https://imgs.xkcd.com/comics/apocalypse.png'></a>

	<p>Apocalypse (XKCD)

{% endblock %}
