{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
	<p>Hyperlinked papers are mainly portable document format (pdf) with some postscript (ps) and HTML (html).  Those marked cmp-lg are retrievable from the <a href="http://xxx.lanl.gov/">cmp-lg</a> archive or one of its mirrors.  </p>

<p>My publications curated by:
<a href="http://scholar.google.com.sg/citations?user=y2WMWysAAAAJ&hl=en">Google
  Scholar</a>;
<a href='https://orcid.org/0000-0003-4973-8068'>ORCID</a>;
<a href='https://aclanthology.org/people/f/francis-bond/'>ACL Anthology</a>;
<a href="http://www.scopus.com/authid/detail.url?authorId=7003275857">Scopus</a>;
<a href="https://www.researchgate.net/profile/Francis-Bond">Research Gate</a>.


{{ bib_html | safe }}

    </div>
{% endblock %}
