{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
         <h1>Francis Bond</h1>
<img align='right' alt="the kind gentle face of Francis Bond" src="{{ url_for('static', filename='img/fcb-small.jpg') }}" border="1" width='150'></a>
<p>Currently working in
  the  <a href='https://kas.upol.cz/en/'>Department of Asian
    Studies</a>, 
<a href='https://www.upol.cz/en/'>Palacký University Olomouc</a>.




<p>Before coming to UPOL, I worked in Linguistics at
    the <a href="http://www.ntu.edu.sg/">Nanyang Technological
    University</a> (NTU), where I co-founded the <a href=
    'https://blogs.ntu.edu.sg/dh/'>Digital Humanities Research Cluster</a>.

  Before coming to NTU, I worked at
  the <a href="http://www.nict.go.jp/index.html">NICT</a> <a href="http://www2.nict.go.jp/univ-com/info_analysis/index-e.html">Information Analysis Laboratory</a> (then the Language
  Infrastructure Group) in Japan.  I was mainly involved in
  creating linguistic resources, such as a Japanese Treebank and
  WordNet.  Before NICT, I worked at <a href="http://www.ntt.co.jp">NTT</a>
  mainly on Machine Translation.

<h2>Research Interests</h2>
<ul>
  <li>Natural Language Understanding
  <li>Computational Lexicography
  <li>Digital Humanities
  <li>Parsing/Generation 
    <ul>
      <li><a href='https://github.com/delph-in/docs/wiki/JacyTop'>Jacy: an Implemented Grammar of Japanese</a> (a Head-driven Phrase Structure Grammar)
      <!-- <li><a href='http://krg.khu.ac.kr/'>KRG: the Korean Resource Grammar</a>  (a Head-driven Phrase Structure Grammar) -->
    </ul>
  <li>Number, Countability, and Numeral Classifiers</li>
  <li>Reference and Definiteness</li>
  <ul>
    <li>the 
<a href="https://bond-lab.github.io/wnja/index.en.html">Japanese Wordnet</a> 
 <li>the 
<a href="http://wn-msa.sourceforge.net/index.eng.html">Wordnet Bahasa</a> (Malay and Indonesian)
<li> the <a href="https://omwn.org">Open Multilingual Wordnet</a>
  </ul>
</ul>

<p>I am looking for doctoral students interested in working on: Implementing head-driven phrase structure grammars for Chinese, Japanese or Malay;  Cross-lingual disambiguation; Semantic-transfer based Machine Translation; Wordnets.  Candidates should have some computational experience as well as linguistic knowledge.


<!-- <p>Some events I am organizing: -->
<!-- <ul> -->
<!-- <\!--   <li><a href='http://portal.cohass.ntu.edu.sg/PACLIC25/'>25th Pacific -\-> -->
<!-- <\!-- Asia Conference on Language, Information and Computation (PACLIC -\-> -->
<!-- <\!-- 25)</a>, which will be held at NTU from December 16-18, 2011 (local organizer with Min Zhang). -\-> -->
<!--   <li><a href= 'http://lang.cs.tut.ac.jp/gwc2012/workshop/'>Hands-on workshop on adding WSD to a new wordnet</a>,  -->
<!--     a workshop to be held at  -->
<!--     the <a href='http://lang.cs.tut.ac.jp/gwc2012/'>Sixth Global Wordnet Conference (GWC 2012)</a>, -->
<!--     which will be held in Matsue, Japan 8-14 January, 2012 (with Kyoko Kanzaki and many more). -->
<!--   <li> -->
<!-- <a href='http://chl.anu.edu.au/linguistics/projects/clw/cfp.php'>Computational -->
<!-- Linguistics Workshop on Austronesian Languages</a> at -->
<!-- the <a href='http://email.eva.mpg.de/~gil/12ICAL/'>Twelfth -->
<!-- International Conference on Austronesian Linguistics (12ICAL)</a>, -->
<!-- which will be held in Bali from 2-6 July, 2012 (co-chairing with Meladel Mistica). -->
<!-- </ul> -->

<h2><a href="pubs.html">Publications</a></h2>

<!-- <table> -->
<!-- <tbody><tr><td rowspan="2"> -->
<!-- <a href="http://cslipublications.stanford.edu/site/1575864606.shtml"> -->
<!-- <img alt="Book Cover: Translating the Untranslatable" src="data/ttu.jpg" border="1"></a> -->
<!-- </td> -->
<!-- <td valign="top">In 2005 I published a book: <a href="http://cslipublications.stanford.edu/site/1575864606.shtml"> -->
<!-- Translating the Untranslatable</a>. -->
<!-- It describes a way for a machine translation system to  generate -->
<!-- words and inflections that are obligatory in the target language, but -->
<!-- not in the source language.  The specific case I look at is the -->
<!-- translation of articles (<i>a, the</i>) and number (singular and -->
<!-- plural), going from Japanese to English. -->

<!-- The book tries to give some insights into natural language processing -->
<!-- in general, with more detailed discussion of machine translation, semantic analysis, and generation -->
<!-- from underspecified inputs. -->
<!-- </td></tr> -->
<!-- <tr><td valign="top"> -->
<!-- The book includes an extensive evaluation of the implemented -->
<!-- algorithms, and a chapter on the automatic acquisition of lexical information. -->
<!-- </td></tr> -->

<!-- </tbody></table> -->



<p>Other Web Pages:  
<a href="https://github.com/fcbond/">Github</a>,
<a href="http://en.wikipedia.org/wiki/User:Ffbond">Wikipedia</a>.
</p>

<h2><a href="prof.html">Other research related information and short CV</a></h2>

</p><h2>Interests</h2>
<ul>
  <li> Food and Drink (<a href="recipes.html">recipes</a>)</li>
  <li> Reading
  <li> ...
</ul>


<p><a href = "{{ url_for('static', filename='img/ling-style.pdf') }}">(Computational) Linguistic Style Guidelines</a>: a guide for the perplexed.

    </div>
{% endblock %}
